header {
    width: 100%;
    height: var(--space-16);
    display: flex;
    border-bottom: 1px solid var(--color-text-tertiary);
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-bg-primary);
}