
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-10);
    background-color: var(--color-bg-primary);
    height: var(--space-20);
}
.currently {
    font-size: var(--text-2xl);
}
.select {
    border: 1px solid var(--color-text-tertiary);
    width: 20%;
    border-radius: var(--space-2);
    height: var(--space-8);
    background-color: var(--color-surface);
}